
<div id="practice-timming" style="padding: 67px;">
    <h2 style="text-align: center; padding-bottom: 53px;">PRACTICE TIMMINGS</h2>
    <button type="button" id="js-addmorelocation-myschedule" style="margin-bottom: 20px;">Add More Location</button>
    <form class="form-inline" style="padding-top: 30px; border:1px solid #cecece;">
        <div style="width: 100%;">
            <div class="form-group" style="padding-right: 20px; padding-bottom: 12px; float: left;">
                <label for="js-ds-address" style="padding-right: 20px;">Address:</label>
                <input type="text" class="form-control" id="js-ds-address">
            </div>
            <div class="form-group" style="padding-right: 20px; padding-bottom: 12px; float: left;">
                <label for="js-ds-city" style="padding-right: 20px;">City:</label>
                <input type="text" class="form-control" id="js-ds-city">
            </div>

            <div class="form-group" style="padding-right: 20px; padding-bottom: 12px; float: left;">
                <label for="js-ds-state" style="padding-right: 20px;">State:</label>
                <input type="text" class="form-control" id="js-ds-state">
            </div>

            <div class="form-group" style="padding-right: 20px; padding-bottom: 12px; float: left;">
                <label for="js-ds-pin" style="padding-right: 20px;">PIN Code:</label>
                <input type="text" class="form-control" id="js-ds-pin">
            </div>

            <div class="form-group" style="padding-right: 20px; padding-bottom: 12px; float: left;">
                <label for="js-ds-phnumbr" style="padding-right: 20px;">Phone Number:</label>
                <input type="text" class="form-control" id="js-ds-phnumbr">
            </div>
        </div>

        <div style="width: 100%; padding-bottom: 20px;">
            <div class="form-check" style="padding-right: 60px; font-weight: bold; float: left;">
                <input type="checkbox" name="days-checkbox" class="form-check-input" value="MON" id="checkbox104">
                <label class="form-check-label" for="checkbox104">Monday</label>
            </div>

            <div class="form-check" style="padding-right: 60px; font-weight: bold; float: left;">
                <input type="checkbox" name="days-checkbox" class="filled-in form-check-input" value="TUE" id="checkbox105" checked="checked">
                <label class="form-check-label" for="checkbox105">Tuesday</label>
            </div>

            <div class="form-check" style="padding-right: 60px; font-weight: bold; float: left;">
                <input type="checkbox" name="days-checkbox" class="form-check-input" value="WED" id="checkbox106">
                <label class="form-check-label" for="checkbox106">Wednesday</label>
            </div>

            <div class="form-check" style="padding-right: 60px; font-weight: bold; float: left;">
                <input type="checkbox" name="days-checkbox" class="form-check-input" value="THR" id="checkbox107">
                <label class="form-check-label" for="checkbox107">Thrusday</label>
            </div>

            <div class="form-check" style="padding-right: 60px; font-weight: bold; float: left;">
                <input type="checkbox" name="days-checkbox" class="filled-in form-check-input" value="FRI" id="checkbox108" checked="checked">
                <label class="form-check-label" for="checkbox108">Friday</label>
            </div>

            <div class="form-check" style="padding-right: 60px; font-weight: bold; float: left;">
                <input type="checkbox" name="days-checkbox" class="form-check-input" value="SAT" id="checkbox109">
                <label class="form-check-label" for="checkbox109">Saturday</label>
            </div>

            <div class="form-check" style="padding-right: 60px; font-weight: bold; float: left;">
                <input type="checkbox" name="days-checkbox" class="form-check-input" value="SUN" id="checkbox110">
                <label class="form-check-label" for="checkbox110">Sunday</label>
            </div>
        </div>
        <div style="width: 100%; padding-bottom: 20px;">
            <div style="float: left; padding-right: 20px; font-weight: 900;">
            SESSION 1
            </div>
            <div style="float: left; padding-right: 20px;">
                Start TIME: <input id="starttime1" type="time">
            </div>
            <div style="float: left; padding-right: 20px;">
                End TIME: <input id="endtime1" type="time">
            </div>
        </div>
        <div style="width: 100%; padding-bottom: 20px;">
            <div class="form-check" style="padding-right: 60px; font-weight: bold; float: left;">
                <input type="checkbox" name="days-checkbox2" class="form-check-input" id="checkbox1042" value="MON">
                <label class="form-check-label" for="checkbox1042">Monday</label>
            </div>

            <div class="form-check" style="padding-right: 60px; font-weight: bold; float: left;">
                <input type="checkbox" name="days-checkbox2" class="filled-in form-check-input" id="checkbox1052" value="TUE" checked="checked">
                <label class="form-check-label" for="checkbox1052">Tuesday</label>
            </div>

            <div class="form-check" style="padding-right: 60px; font-weight: bold; float: left;">
                <input type="checkbox" name="days-checkbox2" class="form-check-input" value="WED" id="checkbox1062">
                <label class="form-check-label" for="checkbox1062">Wednesday</label>
            </div>

            <div class="form-check" style="padding-right: 60px; font-weight: bold; float: left;">
                <input type="checkbox" name="days-checkbox2" class="form-check-input" value="THR" id="checkbox1072">
                <label class="form-check-label" for="checkbox1072">Thrusday</label>
            </div>

            <div class="form-check" style="padding-right: 60px; font-weight: bold; float: left;">
                <input type="checkbox" name="days-checkbox2" class="filled-in form-check-input" value="FRI" id="checkbox1082" checked="checked">
                <label class="form-check-label" for="checkbox1082">Friday</label>
            </div>

            <div class="form-check" style="padding-right: 60px; font-weight: bold; float: left;">
                <input type="checkbox" name="days-checkbox2" class="form-check-input" value="SAT" id="checkbox1092">
                <label class="form-check-label" for="checkbox1092">Saturday</label>
            </div>

            <div class="form-check" style="padding-right: 60px; font-weight: bold; float: left;">
                <input type="checkbox" name="days-checkbox2" class="form-check-input" value="SUN" id="checkbox1102">
                <label class="form-check-label" for="checkbox1102">Sunday</label>
            </div>
        </div>
        <div style="width: 100%; padding-bottom: 20px;">
            <div style="float: left; padding-right: 20px; font-weight: 900;">
                SESSION 2
            </div>
            <div style="float: left; padding-right: 20px;">
                Start TIME: <input id="starttime2" type="time">
            </div>
            <div style="float: left; padding-right: 20px;">
                End TIME: <input id="endtime2" type="time">
            </div>
        </div>
        <div style="width: 100%; padding-bottom: 20px;">
            <span>DURATION OF EACH PATIENT <input id="js-duration" type="number" min="0"></span>
        </div>
        <div style="width: 100%; padding-bottom: 20px;">
            <button type="button" id="js-doctor-createpractice">Create Practice</button>
        </div>

    </form>
    <div style="width: 100%; padding-bottom: 20px;">
        <button type="button" id="js-doctor-createpractice">LIST OF PRACTICE</button>
    </div>

</div>
