
@{
    Layout = null;
}

<!DOCTYPE html>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<script src="~/Scripts/doctor.js"></script>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div id="js-doctor-parent">
        <div>
            <button type="button" id="js-doctor-patients">Patients</button>
            <button type="button" id="js-doctor-appointments">Appointments</button>
            <button type="button" id="js-doctor-prescriptions">Prescriptions</button>
            <button type="button" id="js-doctor-invoice">Invoice / Payments</button>
            <button type="button" id="js-doctor-managereports">Manage Reports</button>
            <button type="button" id="js-doctor-receptionists">Manage Receptionists</button>
            <button type="button" id="js-doctor-profiles">Manage Profiles</button>
            <button type="button" id="js-doctor-myschedule">My Schedule</button>
        </div>
        <div>
            <div id="js-doctor-partial">

            </div>
        </div>
    </div>
</body>
</html>
